.container-inner-shows {
  width: 40vw;
}
.show-data {
  width: 40vw;
  flex-direction: row;
}
.show-img {
  height: 220px;
  width: 10vw;
}

.show-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-info {
  border: 1px solid black;
}
