.container-inner-shows {
  width: 40vw;
}
.show-data {
  width: 40vw;
  flex-direction: row;
}
.show-img {
  height: 350px;
  width: 25vw;
  border-radius: 20px;
}

.show-info {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  border: 1px solid black;
  width: 55vw;
  /* height: 26vh; */
  border-radius: 10px;
  border-left: transparent;
  border-start-start-radius: 0px;
  border-end-start-radius: 0px;
  gap: 20px;
  justify-content: center;
  padding-right: 8px;
}

.title {
  font-size: 4vw;
}

.show-watchers {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin-top: -10px;
  height: 250px;
  padding: 20px;
}

.movie {
  z-index: 1;
  display: flex;
  align-items: center;
}

.watcher-img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

#start-watching {
  font-size: 12px;
  height: 35px;
  color: green;
  font-weight: 900;
}
