.container-inner-shows {
  width: 40vw;
}
.show-data {
  width: 40vw;
  flex-direction: row;
}
.show-img {
  z-index: 90;
  height: 350px;
  width: 240px;
  border-radius: 20px;
}

.show-info {
  display: grid;
  grid-template-columns: 3fr 2fr;
  /* flex-direction: column; */
  align-items: center;
  border: 1px solid black;
  width: 55vw;
  /* height: 26vh; */
  border-radius: 10px;
  border-left: transparent;
  border-start-start-radius: 0px;
  border-end-start-radius: 0px;
  grid-gap: 50px;
  justify-content: center;
  padding-right: 8px;
  position: relative;
}

.title {
  font-size: 4vw;
  margin-bottom: -20px;
}

.show-watchers {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  align-items: flex-start;
  overflow: scroll;
  margin-top: -10px;
  height: 230px;
  padding: 20px;
}

.watcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 4px;
}
/* .name {
  width: 5vw;
} */

.movie {
  z-index: 1;
  display: flex;
  align-items: center;
}

.watcher-img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.show-meta-data {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#start-watching {
  display: flex;
  left: 90px;
  font-size: 12px;
  height: 35px;
  width: 10vw;
  color: green;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  position: absolute;
  top: 270px;
  left: 130px;
}

@media screen and (max-width: 768px) {
  .show-info {
    display: flex;
    height: 300px;
    overflow: scroll;
    flex-direction: column;
    justify-content: flex-start;
  }

  .movie {
    margin-left: -80px;
    width: 400px;
    display: flex;
  }
}
