.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-page-img {
  /* margin-top: 20px; */
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 31px -1px rgba(0, 0, 0, 0.54);
  box-shadow: 2px 4px 31px -1px rgba(0, 0, 0, 0.54);
  height: 290px;
  z-index: 90;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 1px;
}

.profile-header {
  gap: 240px;
  display: flex;
  justify-self: flex-start;
  width: 90vw;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  border-top: transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.sub-header {
  margin-right: 100px;
}

.change-profile-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.change-profile-input p {
  font-size: 20px;
}

.chat-links-btn {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.profile-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .profile-page-img {
    width: 15pc;
    height: 15pc;
    border-radius: 5px;
  }
  .profile-header {
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
  }
  .sub-header {
    margin-right: 0;
  }
}

.profile-input {
  width: 40vw;
}

@media screen and (max-width: 810px) {
  .profile-input {
    width: 60vw;
  }
}
