.add-show-form-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.add-show {
  margin-top: 20px;
  border: 1px solid black;
  height: 70vh;
  width: 40vw;
}
.add-show-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.form-element {
  text-align: left;
}
