.form-container {
  position: relative;
  /* top: 5vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  border: 1px solid black;
  width: 40vw;
  height: 70vh;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
}

.form-input {
  height: 40px;
  width: 30vw;
  font-size: x-large;
  background-color: transparent;
  border: transparent;
  border-bottom: 2px solid rgb(4, 73, 73);
  width: 30vw;
}

.form-button {
  /* border-radius: 51px;
  box-shadow: 7px 7px 14px #518688, -7px -7px 14px #6db6b8; */
  background: #5f9ea0;
  border: 0px;
  height: 30px;
  width: 90px;
  border-radius: 4px;
  width: 220px;
}

.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

.signup-auth-page {
  flex-direction: row;
}

.password-rule {
  text-align: left;
  width: 40%;
  font-size: 19px;
}

@media only screen and (max-width: 600px) {
  .form-container {
    width: 65vw;
  }

  .signup-auth-page {
    flex-direction: column;
  }

  .password-rule {
    display: none;
  }
}
