.chat-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat-form {
  border: 1px solid black;
  background-color: cadetblue;
  align-items: center;
}

footer {
  color: white;
  position: fixed;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 130px;
}
footer .input-field input,
button {
  border-color: #ffffff;
}
.chip {
  font-style: italic;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.s10 {
  display: flex;
  flex-direction: column;
}

.user-profile-pic {
  height: 7vh;
  border-radius: 50px;
  z-index: 1;
}

.chip {
  display: flex;
  align-items: center;
  margin: 10px;
}

.username {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: slategray;
  color: black;
  height: 4vh;
  width: 15vw;
  border-radius: 10px;
  border-start-start-radius: 0px;
  border-end-start-radius: 0px;
  border-left: transparent;
  margin-left: -5px;
}

.chat-submit-btn {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  position: relative;
  right: -60px;
}

.chat-form-input {
  width: 420px;
  height: 7vh;
  font-size: x-large;
  border: transparent;
  border-bottom: 1px solid whitesmoke;
  background-color: transparent;
}
