.show-info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-show {
  margin-top: 50px;
  border: 1px solid black;
  width: 25vw;
  height: 600px;
  padding: 10px;
}

.show-info-page-img {
  height: 15pc;
}

.show-page-comments {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 190px;
  margin-bottom: 90px;
  gap: 10px;
  padding: 30px;
}

.comment {
  color: red;
  border: 1px solid black;
  text-align: left;
}
