/* .user-links {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid black;
  padding: 40px;
} */

.user-profile {
  display: flex;
  width: 40vw;
  flex-direction: row;
  border: 1px solid black;
  gap: 30px;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  align-items: center;
  font-size: x-large;
  background-color: transparent;
  box-shadow: 12px 12px 2px 1px rgba(41, 16, 2, 0.411);
}

.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 4px;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.scroll {
  position: fixed;
  right: 90px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: rgba(55, 71, 55, 0.678);
  font-size: 13px;
  color: antiquewhite;
  border: 1px;
}

.users-page-container {
  display: flex;
  margin-top: 25vh;
  align-items: center;
  width: 90vw;
}

.message {
  right: 200px;
  width: 300px;
  height: 30px;
}
.connect {
  display: flex;
  margin-top: -2px;
  cursor: pointer;
  width: 120px;
  height: 25px;
  border-top: 0;
  color: seashell;
  font-size: 19px;
  border: 1px transparent;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgba(28, 39, 28, 0.787);
}

@media screen and (max-width: 768px) {
  .user-profile {
    width: 23pc;
    margin-left: -40px;
  }
  .message {
    bottom: 0;
    position: sticky;
  }
  .scroll {
    right: 10px;
  }
}
