.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  margin-top: -50px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-bar {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-direction: column;
}

.search-container {
  display: flex;
  flex-direction: column;
}

input:focus {
  outline: none;
  box-shadow: none;
}
button:focus {
  outline: none;
  box-shadow: none;
}

#toggle-search {
  width: 10vw;
}

#search-input {
  width: 40vw;
  font-size: 40px;
  text-align: center;
}

#search-submit {
  height: 30px;
  width: 130px;
  margin-left: 5px;
  margin-top: 9px;
  border-radius: 5px;
  border: 1px transparent;
  background-color: teal;
  color: white;
  font-size: 17px;
}

@media screen and (max-width: 768px) {
  #search-input {
    width: 70vw;
  }
}
