.blurb {
  text-align: center;
  width: 40vw;
}
.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.signature {
  font-size: x-large;
}

footer {
  gap: 10px;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  width: 100vw;
  /* padding-left: 49vw; */
  display: flex;
  position: absolute;
  justify-content: center;
}

.github,
.linked-in {
  font-size: xx-large;
}

.linked-in {
  color: #0077b5;
}
