.add-show-form-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* .add-show {
  margin-top: 20px;
  border: 1px solid black;
  height: 550px;
  width: 40vw;
} */
.add-show-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.form-element {
  text-align: left;
}
.add-show-item {
  height: 40px;
  /* width: 220px; */
  width: 30vw;
  font-size: 20px;
}

.add-show-select {
  text-align: center;
}

#toggle-search {
  height: 30px;
  margin-left: 5px;
  margin-top: 9px;
  border-radius: 5px;
  border: 1px transparent;
  background-color: transparent;
  color: black;
  font-size: 17px;
}

#banner {
  margin-top: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #toggle-search {
    width: 120px;
    margin-right: 30px;
    height: 30px;
    width: 120px;
    position: absolute;
    right: -20px;
    margin-top: 20px;
  }
}
